body {
  margin: 0;
  font-family: Roboto, sans-serif;
}
* {
  box-sizing: border-box;
}
a {
  text-decoration: none;
  color: #6958ff;
}

.navitem {
  padding: 3px 10px;
  font-weight: bold;
  font-variant: small-caps;
}

pre,
code {
  color: #eee;
}
